* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  padding-bottom: 500px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: black;
  color: white;
  align-items: center;
  font-size: 1.25rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  column-gap: 2rem;
}

nav input {
  padding: 1rem 2rem;
  border-radius: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(99, 99, 99);
  font-size: 20px;
}

nav input::placeholder {
  color: white;
  font-size: 20px;
}

#hero {
  background-image: url("./assets/fx\ \(4\).jpg");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 15%;
}

#hero-overlay p {
  display: flex;
  font-size: 18px;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
}

#hero-overlay h1 {
  display: flex;
  font-size: 40px;
  font-weight: 100;
  color: rgb(223, 210, 210);
  width: 700px;
}

.primary-button {
  width: fit-content;
  padding: 10px;
  margin-top: 10px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: rgb(53, 48, 48);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.primary-button:hover {
  color: blue;
  background-color: white;
}

#features {
  display: flex;
  flex-direction: row;
  margin: 2rem 10%;
  column-gap: 3rem;
  align-items: center;
}

.feat-right {
  width: 40%;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#features img {
  width: 100%;
}

.feat-left {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 60%;
}

#features-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  font-weight: 100;
}

#features-card :hover {
  background-color: bisque;
  cursor: pointer;
  transition: 5px;
  opacity: 14px;
}

#features-card div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: rgba(121, 86, 46, 0.733);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

/* #Thids {
  background-image: url("./assets/Image_fx\ \(9\).jpg");
  height: 50vh;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
} */

#Thids {
  position: relative;
  width: 100%;
}

#Thids-overlay {
  background-image: url("./assets/Image_fx\ \(9\).jpg");
  height: 50vh;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#Thids1 {
  position: absolute;
  width: 80%;
  left: 50%;
  background-color: rgba(121, 86, 46, 0.733);
  height: 150px;
  bottom: -80px;
  transform: translateX(-50%);
}

/* #Thids-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 15%;
} */

#Thids-overlay p {
  display: flex;
  justify-content: center;
  padding-left: 6rem;
  padding-top: 7rem;
  font-size: 40px;
  font-weight: 200;
  color: white;
  width: 700px;
}

#Thids1 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  column-gap: 2rem;
  padding-top: 2rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

.a:hover {
  color: rgba(121, 86, 46, 0.733);
  cursor: pointer;
  transition: 5px;
  opacity: 14px;
}

.b:hover {
  color: rgba(121, 86, 46, 0.733);
  cursor: pointer;
  transition: 5px;
  opacity: 14px;
}

.c:hover {
  color: rgba(121, 86, 46, 0.733);
  cursor: pointer;
  transition: 5px;
  opacity: 14px;
}

.d:hover {
  color: rgba(121, 86, 46, 0.733);
  cursor: pointer;
  transition: 5px;
  opacity: 14px;
}

.e:hover {
  color: rgba(121, 86, 46, 0.733);
  cursor: pointer;
  transition: 5px;
  opacity: 14px;
}

#Thids1 p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 2rem;
}

#Services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding-top: 8rem;
  padding-left: 16rem;
  width: 60%;
  color: rgba(58, 30, 1, 0.733);
}

#Services h2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
  font-weight: 500;
  font-size: 30px;
}

#Services p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  columns: center;
  text-align: center;
  padding: 0 10rem;
  width: 200;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 40px;
  
}

#Services-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  font-weight: 100;
}

#Services-card :hover{
  background-color: bisque;
  cursor: pointer;
  transition: 5px;
  opacity: 14px;
}

#Services-card div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: rgba(121, 86, 46, 0.733);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

